
footer.footer
    div.contacts#contacts
        .contacts__header
            .container
                .contacts-header
                    .contacts-header__title
                        .st-title
                            +svg('mountains').st-title__icon
                            h2.st-title__text Контакты Hotel Fiescherhof
                    .contacts-header__info
                        .contacts-header__info-left
                            .d-flex
                                .d-flex__item
                                    .icon-text
                                        +svg('map').icon-text__icon
                                        .icon-text__text Адрес:
                                .d-flex__item Furkastrasse 75, CH-3984 Fiesch <br/> Широта: 51.6754966 Долгота: 39.20888230000003
                        .contacts-header__info-right
                            .d-flex
                                .d-flex__item
                                    .icon-text
                                        +svg('car').icon-text__icon
                                        .icon-text__text Как добраться
                                .d-flex__item
                                    a(href="#").st-btn-link Подробнее
        .contacts__main
            #map.contacts__map
            .contacts__map-container.container
                .contacts__form
                    form.st-form
                        .st-form__line
                            input(type='text' placeholder='Ваше имя').st-input
                        .st-form__line
                            input(type='text' placeholder='Ваш E-mail').st-input
                        .st-form__line
                            textarea(placeholder='Сообщение').st-textarea
                        .st-form__line.tac
                            button.st-btn-link Отправить

        .contacts__footer
            .container
                .contacts-footer
                    .contacts-footer__bg
                    .contacts-footer__header
                        .contacts-items
                            .contacts-items__elem
                                a(href='mailto:info@fiescherhof.ch').contacts-item.contacts-item_mail
                                    +svg('contacts-mail').contacts-item__icon
                                    .contacts-item__text info@fiescherhof.ch
                            .contacts-items__elem
                                a(href='tel:+41279712171').contacts-item.contacts-item_phone
                                    +svg('contacts-phone').contacts-item__icon
                                    .contacts-item__text +41 27 971 21 71
                    .contacts-footer__soc
                        nav.soc
                            a(href="#").soc__link
                                +svg('soc1').soc__icon
                            a(href="#").soc__link
                                +svg('soc2').soc__icon
                            //a(href="#").soc__link
                            //    +svg('soc3').soc__icon

    div.footer__more-info
        .container
            .footer-more-info
                .footer-more-info__copy &copy; 2013   Hotel Fiescherhof
                a(href='http://www.hostcms.ru' target="_blank").footer-more-info__link hostcms
                a(href='https://www.velest.ru' target="_blank").footer-more-info__link создание сайта


.page__mobile-menu.mobile-menu
    .mobile-menu__close.js-mob-menu-close
        i.close-btn
    .mobile-menu__nav
        nav.header-nav
            a(href="#").header-nav__link Главная
            a(href="#").header-nav__link Номера и цены
            a(href="#").header-nav__link Ресторан
            a(href="#").header-nav__link Фотогалерея
            a(href="#").header-nav__link Контакты
    .mobile-menu__mail
        a(href='mailto:info@fiescherhof.ch').header-mail
            +svg('mail').header-mail__icon
            p.header-mail__text info@fiescherhof.ch

.page__overlay.js-mob-menu-close