

.site-header
    .site-header__info
        .container
            .header-info
                .header-info__main.header-info-main
                    img(src='./images/svg/icon-i.svg').header-info-main__icon
                    .header-info-main__text Производство и поставка теплообменного оборудования
                a(href="#").header-info__ask.header-info-ask
                    img(src='./images/svg/icon-ask.svg').header-info-ask__icon
                    .header-info-ask__text Задать вопрос
    .site-header__main
        .container
            .header
                a(href="#").header__logo.header-logo
                    img(src='./images/svg/icon-logo.svg').header-logo__icon
                    .header-logo__text Cборочное производство FUNKE в Воронеже
                .header__address.header-address
                    img(src='./images/svg/icon-metka.svg').header-address__icon
                    .header-address__text Воронеж <br/> проезд Монтажный, д. 3
                .header__mob-menu-button
                    button.mob-menu-button.js-mobile-menu-open
                        img(src='./images/svg/icon-hamburger.svg').mob-menu-button__icon
                .header__phone
                    .header-phone
                        .header-phone__text 8 (473) 212 ...
                        button.header-phone__button
                            img(src='./images/svg/icon-phone.svg').header-phone__icon
                        .header-phone__overlay
                        .header-phone__feedback.feedback-popup
                            button.feedback-popup__close
                            .feedback-popup__title Оставьте заявку
                            .feedback-popup__subtitle Получите расчет <br/> стоимости работ бесплатно
                            form.feedback-popup__form.feedback-popup-form
                                .feedback-popup-form__line
                                    .feedback-popup-form__line-title Ваше имя
                                    .feedback-popup-form__line-content
                                        input(type='text').st-input
                                .feedback-popup-form__line
                                    .feedback-popup-form__line-title Ваш телефон
                                    .feedback-popup-form__line-content
                                        input(type='text' placeholder='+7 (___) ___-__-__').st-input.js-inputmask-phone
                                        p.feedback-popup-form__descr * Мы свяжемся с Вами по этому телефону  для консультации или составления сметы
                                .feedback-popup-form__button
                                    button.st-red-button Расчет стоимости


    .site-header__nav
        .container
            .main-nav
                .main-nav__drop-menu.nav-drop-menu
                    .nav-drop-menu__button
                        img(src='./images/svg/icon-hamburger.svg').nav-drop-menu__icon
                    nav.nav-drop-menu__content.dropdown-menu
                        a(href="#").dropdown-menu__link подраздел
                        a(href="#").dropdown-menu__link подраздел
                        a(href="#").dropdown-menu__link подраздел
                        a(href="#").dropdown-menu__link подраздел
                nav.main-nav__list.main-nav-list
                    a(href="#").main-nav-list__link Продукция
                    a(href="#").main-nav-list__link Ремонт и обслуживание
                    a(href="#").main-nav-list__link Пластины и уплотнения
                    a(href="#").main-nav-list__link O компании
                    a(href="#").main-nav-list__link Контакты
                a(href='#').main-nav__calculation Расчет  теплообменника





