

.header
    .header__top-section
        .container
            .header-info
                .header-info__address.header-address
                    +svg('marker').header-address__icon
                    .header-address__text Швейцария,  курорт Алеч  Furkastrasse 75
                .header-info__language.language
                    .language__current
                        .language__current-text RU
                        +svg('red-arrow').language__current-icon
                    .language__dropdown
                        ul.language-list
                            li.language-list__item
                                a(href="#").language-list__link DE
                            li.language-list__item
                                a(href="#").language-list__link EN

    .header__main-section
        .container
            .header-main
                .header-main__logo.logo
                    img(src='./images/logo.svg').logo__image
                    .logo__text Швейцария не обязательно должна быть дорогой!
                .header-main__phone.header-phone
                    +svg('phone').header-phone__icon
                    .header-phone__text + 41 279 -71-21-71
                .header-main__hamburger
                    button.hamburger-button.js-mob-menu-open
                        i.hamburger-button__line
                        i.hamburger-button__line
                        i.hamburger-button__line


    .header__nav-section
        .container
            .header-nav-section
                .header-nav-section__nav
                    nav.header-nav
                        a(href="#").header-nav__link Главная
                        a(href="#").header-nav__link Номера и цены
                        a(href="#").header-nav__link Ресторан
                        a(href="#").header-nav__link Фотогалерея
                        a(href="#").header-nav__link Контакты
                .header-nav-section__mail
                    a(href='mailto:info@fiescherhof.ch').header-mail
                        +svg('mail').header-mail__icon
                        p.header-mail__text info@fiescherhof.ch