

.site-header
    .site-header__info
        .container
            .header-info
                .header-info__main.header-info-main
                    img(src='./images/svg/icon-i.svg').header-info-main__icon
                    .header-info-main__text Производство и поставка теплообменного оборудования
                a(href="#").header-info__ask.header-info-ask
                    .header-info-ask__icon
                    .header-info-ask__text Задать вопрос
    .site-header__main
        .container
            .header
                .header__logo.header-logo
                    img(src='./images/svg/icon-logo.svg').header-logo__icon
                    .header-logo__text Cборочное производство FUNKE в Воронеже
                .header__address.header-address
                    img(src='./images/svg/icon-metka.svg').header-address__icon
                    .header-address__text Воронеж <br/> проезд Монтажный, д. 3
                .header__phone 8 (473) 212 ...
    .site-header__nav
        .container
            .main-nav
                .main-nav__hamburger
                .main-nav__list.main-nav-list
                    a(href="#").main-nav-list__link Продукция
                    a(href="#").main-nav-list__link Ремонт и обслуживание
                    a(href="#").main-nav-list__link Пластины и уплотнения
                    a(href="#").main-nav-list__link O компании
                    a(href="#").main-nav-list__link Контакты




