*
    box-sizing: border-box
    padding: 0
    margin: 0

.icon
    display: inline-block
    vertical-align: middle

.tac
    text-align: center

[type='text'],
[type='search'],
[type='tel'],
[type='email'],
[type='number']
    appearance: none

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,700&subset=cyrillic')

$ff-fs: 'Fira Sans'
$ff-fsc: 'Fira Sans Condensed'
$st-yellow: #dea541
$st-brown: #6b513b
$dark-brown: #492e16
$st-gray: #f5f2ec
$st-orange: #de6245
$st-red: #de6245


body
    font-family: 'Fira Sans', sans-serif
    font-size: 16px
    color: #333

.ovh
    overflow: hidden

.js-scroll-button
    cursor: pointer

.js-room-item
    cursor: pointer

.page
    min-width: 320px
    overflow-x: hidden
    position: relative
    &__header
        padding-bottom: 5px
        position: relative
        z-index: 100
        box-shadow: 0 0 10px 0 #333
    &__mobile-menu
        height: 100%
        left: -300px
        position: absolute
        z-index: 500
        padding-top: 50px
        top: 0
        background-color: $st-gray
        width: 300px
        -webkit-transition: all .3s ease 0s
        transition: all .3s ease 0s
        overflow-x: hidden
        &.opened
            left: 0
    &__overlay
        position: absolute
        width: 100%
        height: 100%
        top: 0
        bottom: 0
        right: 0
        left: 0
        z-index: 300
        background-color: rgba(0,0,0,.4)
        display: none
    &__room-popup
        position: fixed
        z-index: 1000
        top: 0
        height: 100%
        left: 0
        width: 100%
        display: none
    &__room-popup-wrapper
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        overflow: auto
        padding: 0 10px

.room-popup
    padding: 20px
    border: 3px solid $st-yellow
    background-color: $st-gray
    max-width: 920px
    margin: 50px auto
    position: relative
    &__close
        right: 10px
        top: 10px
        position: absolute
    &__title
        font-size: 20px
        text-transform: uppercase
        font-family: $ff-fsc
        text-align: center
        margin-bottom: 20px
        color: $st-brown
        padding: 0 40px
    &__content
        display: flex
        justify-content: space-between
    &__images
        width: 70%
        flex-shrink: 0
    &__descr
        width: 28%

.room-popup-descr
    &__section
        margin-bottom: 60px
        &:last-child
            margin-bottom: 0
    &__price
        font-size: 20px
        text-transform: uppercase
        font-weight: 700
        font-family: $ff-fsc
        margin-bottom: 20px
        color: $st-brown

.slider
    &__main
        padding-top: 66%
        position: relative
        overflow: hidden
        margin-bottom: 15px
    &__main-image
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        object-fit: cover
    &__nav
        display: flex
        flex-wrap: wrap
        margin: 0 -6px
    &__nav-item
        width: 25%
        padding: 0 6px

.js-slider-nav
    cursor: pointer

.close-btn
    width: 30px
    height: 30px
    border-radius: 50%
    background-color: $dark-brown
    display: inline-block
    cursor: pointer
    transform: rotate(45deg)
    &:before
        content: ''
        width: 60%
        height: 2px
        background-color: #fff
        left: 20%
        top: 50%
        margin-top: -1px
        position: absolute
    &:after
        content: ''
        height: 60%
        width: 2px
        top: 20%
        background-color: #fff
        left: 50%
        margin-left: -1px
        position: absolute

.mobile-menu
    &__close
        position: absolute
        top: 10px
        right: 10px


.full-image
    position: fixed
    height: 100%
    width: 100%
    z-index: 1500
    left: 0
    top: 0
    background: rgba(0,0,0,.8)
    opacity: 0
    transition: opacity .5s ease 0s
    pointer-events: none
    display: flex
    justify-content: center
    align-items: center
    &.opened
        opacity: 1
        pointer-events: auto
    &__close
        position: absolute
        width: 30px
        height: 30px
        right: 20px
        top: 20px
        -webkit-transform: rotate(45deg)
        transform: rotate(45deg)
        cursor: pointer
        &:hover
            &:before, &:after
                background-color: $st-orange
        &:before
            background-color: #fff
            content: ''
            width: 4px
            position: absolute
            top: 0
            bottom: 0
            left: 50%
            margin-left: -2px
            transition: all .5s ease 0s
        &:after
            content: ''
            position: absolute
            height: 4px
            left: 0
            right: 0
            top: 50%
            margin-top: -2px
            transition: all .5s ease 0s
            background-color: #fff
    &__image
        max-width: 90%
        max-height: 90%
    &__nav
        position: absolute
        top: 50%
        margin-top: -15px
        cursor: pointer
        &.prev
            +arr(20, 30, #fff, l)
            left: 20px
        &.next
            +arr(20, 30, #fff, r)
            right: 20px

.main
    &__rooms
        padding: 15px 0 60px
        background-color: $st-gray
    &__restaurant-descr
        padding: 15px 0 60px
        background-color: $st-gray
    &__gallery
        padding: 15px 0 60px
        background-color: $st-gray
    &__restaurant-images
        padding: 55px 0
    &__restaurant-menu
        padding: 30px 0 55px
        background-color: $st-gray
    &__services
        padding: 55px 0
    &__index-rooms
        padding: 40px 0 50px
        background-color: $st-gray
    &__index-gallery
        padding: 30px 0 70px
        background-image: url('../images/index-gallery.jpg')
        -webkit-background-size: cover
        background-size: cover
        background-repeat: no-repeat
    &__contacts
        padding: 15px 0 80px

.footer
    &__more-info
        background-color: #e6d6b8
        padding: 15px 0

.download-link
    display: inline-block
    color: $st-brown
    text-transform: uppercase
    position: relative
    padding-left: 30px
    &__icon
        width: 20px
        height: 10px
        position: absolute
        top: 50%
        left: 0
        margin-top: -5px
    &:hover
        text-decoration: none
    
    
.footer-more-info
    display: flex
    justify-content: space-between
    color: #6b513b
    font-size: 16px
    &__link
        color: #6b513b
        &:hover
            text-decoration: none

.container
    max-width: 960px
    padding: 0 10px
    margin: 0 auto

.section
    &__breadcrumbs
        margin-bottom: 5px
    &__title
        margin-bottom: 20px
        &.mb80
            margin-bottom: 80px
    &_bg-gray
        background-color: $st-gray

.breadcrumbs
    font-size: 18px
    font-family: $ff-fsc
    &__link
        color: $st-brown
        position: relative
        margin-right: 15px
        text-decoration: none
        &:after
            content: '/'
            position: absolute
            right: -12px
            top: 2px
            font-size: 16px
        &:hover
            text-decoration: underline
    &__text
        color: $st-yellow

.st-grid
    display: flex
    flex-wrap: wrap
    margin: -20px -10px 0
    &__item
        width: 33.33%
        padding: 20px 10px 0
    &_restaurant
        .st-grid__item
            width: 50%

.section-header
    margin: 0 auto
    max-width: 600px
    text-align: center


.header
    &__top-section
        background-color: $st-gray
    &__main-section
        padding: 20px 0
    &__nav-section
        background-color: $st-yellow

.header-info
    display: flex
    justify-content: space-between
    min-height: 44px
    &__address
        min-width: 400px
    &__language
        align-items: flex-end

.header-address
    display: flex
    align-items: center
    &__icon
        width: 14px
        height: 20px
        margin-right: 10px
    &__text
        color: $st-brown

.language
    position: relative
    text-decoration: underline
    color: $st-brown
    &__current
        display: flex
        align-items: center
        height: 44px
    &__current-icon
        width: 20px
        height: 10px
        margin-left: 8px
    &__dropdown
        position: absolute
        top: 100%
        right: 0
        pointer-events: none
        opacity: 0
        transition: all 0.5s ease 0s
        z-index: 50
        border: 3px solid $st-yellow
        padding: 10px 23px
        background-color: #fff
    &.opened
        .language__dropdown
            opacity: 1
            pointer-events: auto

.language-list
    list-style: none
    &__item
        margin-bottom: 10px
        &:last-child
            margin-bottom: 0
    &__link
        color: $st-brown
        transition: all 0.5s ease 0s
        &:hover
            color: $st-orange

.header-main
    display: flex
    align-items: center
    justify-content: space-between
    &__logo
        width: 54%
    &__hamburger
        display: none

.logo
    display: flex
    align-items: center
    &__link
        margin-right: 50px
    &__image
        min-width: 205px
        max-width: 205px
        width: 100%
    &__text
        color: $st-brown
        font-size: 20px
        font-family: $ff-fsc

.header-phone
    display: flex
    align-items: center
    text-decoration: none
    pointer-events: none
    &__icon
        width: 28px
        height: 28px
        margin-right: 8px
    &__text
        font-size: 24px
        color: $st-brown
        font-family: $ff-fsc

.header-nav-section
    display: flex
    justify-content: space-between
    align-items: center

.header-mail
    color: #fff
    display: flex
    align-items: center
    text-decoration: none
    transition: all 0.5s ease 0s
    &__icon
        width: 24px
        height: 16px
        margin-right: 10px
    &:hover
        color: $st-brown

.hamburger-button
    width: 40px
    height: 40px
    background-color: $st-yellow
    border-radius: 50%
    outline: none
    border: none
    position: relative
    cursor: pointer
    &__line
        width: 60%
        height: 2px
        background-color: #fff
        position: absolute
        left: 20%
        top: 50%
        margin-top: -1px
        &:last-child
            margin-top: 7px
        &:first-child
            margin-top: -8px

.header-nav
    display: flex
    &__link
        height: 44px
        position: relative
        display: flex
        align-items: center
        padding: 0 10px
        text-decoration: none
        transition: all 0.5s ease 0s
        color: #fff
        font-size: 20px
        font-family: $ff-fsc
        text-transform: uppercase
        &:hover
            background-color: #be8d3e
        &:before
            content: ''
            position: absolute
            left: 0
            width: 2px
            height: 28px
            top: 50%
            margin-top: -14px
            background-color: #fff
            opacity: 0.5

.page-preview
    position: relative
    width: 100%
    &__image
        padding-top: 50%
        -webkit-background-size: cover
        background-size: cover
    &__content
        position: absolute
        width: 460px
        left: 50%
        margin-left: -230px
        bottom: 25px
        background: rgba(73,46,29,0.8)
        color: #fff
        padding: 5px 15px 15px

.services-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: -40px
    &__item
        width: 25%
        padding: 40px 20px 0
    &_menu
        justify-content: space-around


.services-item
    &__preview
        margin: 0 auto 15px
        width: 125px
        height: 125px
        background-image: url('../images/polygon.svg')
        background-repeat: no-repeat
        -webkit-background-size: cover
        background-size: cover
        display: flex
        justify-content: center
        align-items: center
    &__text
        text-align: center
        text-transform: uppercase
        font-size: 18px
        color: $st-brown
    &__icon
        width: 70px
        height: 70px
        &.icon_sauna
            margin-left: 7px
    &__download
        padding-top: 20px
        display: flex
        justify-content: center


.bl-frame
    position: relative
    overflow: hidden
    height: 100%
    padding-top: 26px
    &__content
        padding: 20px 10px
        color: #fbefdb
        border-right: 2px solid #e0c390
        border-left: 2px solid #e0c390
        border-bottom: 2px solid #e0c390
        height: 100%
    &__title
        font-size: 25px
        text-align: center
        text-transform: uppercase
        font-family: $ff-fsc
        margin-bottom: 5px
        &.mb30
            margin-bottom: 30px
    &__descr
        font-size: 15px
        text-align: center
        margin-bottom: 15px
        letter-spacing: -0.2px
        &.fz18
            font-size: 18px
    &__buttons
        text-align: center
    &__header
        width: 126px
        top: 0
        left: 50%
        margin-left: -63px
        position: absolute
        &:before
            content: ''
            height: 2px
            background-color: #e0c390
            width: 500px
            right: 100%
            margin-right: 5px
            position: absolute
            bottom: 0
        &:after
            content: ''
            height: 2px
            background-color: #e0c390
            width: 500px
            left: 100%
            margin-left: 5px
            position: absolute
            bottom: 0
    &__mountains
        width: 126px
        height: 25px




.preview-grid
    display: flex
    &__item
        width: 33.3%


.st-title
    text-align: center
    &__icon
        width: 125px
        height: 25px
        margin-bottom: 5px
    &__text
        font-size: 25px
        font-weight: normal
        text-transform: uppercase
        line-height: 1em
        letter-spacing: -0.5px
        color: $st-brown
        font-family: $ff-fsc

.figured-title
    text-align: center
    display: inline-block
    background-image: url('../images/figured-title-bg.png')
    -webkit-background-size: 100% auto
    background-size: 100% auto
    background-repeat: no-repeat
    width: 330px
    height: 62px
    position: relative
    margin-top: 25px
    &__icon
        width: 90px
        height: 25px
        margin-bottom: 5px
        position: absolute
        left: 50%
        margin-left: -45px
        top: -22px
    &__text
        font-size: 25px
        font-weight: normal
        text-transform: uppercase
        line-height: 62px
        color: #492e16
        font-family: $ff-fsc

.st-btn-link
    border: none
    cursor: pointer
    border-top: 2px solid #f1927c
    border-left: 2px solid #f1927c
    border-radius: 12px
    font-size: 18px
    font-family: $ff-fsc
    background-color: #de6245
    text-transform: uppercase
    text-decoration: none
    color: #fff
    padding: 12px 8px
    display: inline-block
    vertical-align: middle
    box-shadow: 2px 2px 2px 0 #333
    min-width: 150px
    text-align: center
    outline: none
    transition: all 0.5s ease 0s
    &:hover
        background-color: #f94825
    &.w100
        width: 100%


.grid-nav
    display: flex
    justify-content: space-between
    &_gallery
        flex-wrap: wrap
        margin: 0 -5px
        .grid-nav__item
            padding: 5px

.box-nav-item
    display: inline-block
    min-width: 140px
    padding: 7px
    border: 3px solid $st-yellow
    color: $st-brown
    font-size: 16px
    font-family: $ff-fs
    text-decoration: none
    transition: all 0.5s ease 0s
    text-align: center
    background-color: #fff
    &:hover
        border-color: $st-brown
    &.active
        background-color: $st-yellow
        border: 3px solid $st-yellow

.services-section
    &__title
        font-size: 25px
        margin-bottom: 25px
        color: $st-brown
        text-transform: uppercase
        text-align: center
        font-weight: normal
        letter-spacing: -1px
        

.number-rooms
    &__title
        margin-bottom: 25px
    &__nav
        margin-bottom: 25px
    &__descr
        max-width: 760px
        margin: 0 auto 30px
    &__images
        margin-bottom: 30px
    &__buttons
        text-align: center
    &__list-rooms
        margin-bottom: 40px
    &__subtitle
        font-size: 22px
        margin-bottom: 20px
        text-align: center
        text-transform: uppercase
        font-family: $ff-fsc


.previews-grid
    display: flex
    flex-wrap: wrap
    margin: -20px -10px 0
    &__item
        width: 33.33%
        padding: 20px 10px 0
        font-size: 0
    &__image
        object-fit: cover
        border: 1px solid #000
        width: 100%
    &_white-shadow
        .previews-grid__image
            border: none
            box-shadow: 0 0 15px 5px #fff


.index-restaurant
    padding: 125px 10px 40px
    position: relative
    min-height: 450px
    &__bg-grid
        display: flex
        justify-content: space-between
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
    &__bg-item
        width: 33.33%
        background-repeat: no-repeat
        -webkit-background-size: cover
        background-size: cover
    &__content
        position: relative
        z-index: 50
        margin: 0 auto
        max-width: 540px
        background: rgba(73,45,22,0.8)
        color: #fff
        padding: 15px

.index-gallery
    &__title
        margin-bottom: 10px
    &__images
        margin-bottom: 30px
    &__header
        max-width: 600px
        margin: 0 auto 85px
    &__descr
        text-align: center
    &__buttons
        text-align: center

.contacts
    &__map-container
        display: flex
        justify-content: flex-end
    &__header
        padding: 30px 0
        background-color: $st-gray
        border-bottom: 1px solid $st-brown
    &__main
        padding: 85px 0
        position: relative
    &__map
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
    &__form
        position: relative
        z-index: 50
        width: 380px
        background: rgba(73,46,23,0.8)
        padding: 25px
    &__footer
        padding: 40px 0 20px
        background-image: url('../images/contacts-mountains.svg')
        background-repeat: no-repeat
        -webkit-background-size: 670px auto
        background-size: 670px auto
        background-position: center bottom

.contacts-footer
    &__header
        margin-bottom: 50px


.contacts-items
    display: flex
    justify-content: space-between
    align-items: center
    &__elem
        padding: 10px

.contacts-header
    &__title
        margin-bottom: 25px
    &__info
        display: flex
        justify-content: space-between
        align-items: center
    &__info-left
        width: 60%
        padding-right: 40px
    &__info-right
        width: 40%
        display: flex
        justify-content: flex-end

.d-flex
    display: flex
    align-items: center
    &__item
        margin-right: 15px
        &:last-child
            margin-right: 0

.icon-text
    display: flex
    align-items: center
    &__icon
        width: 50px
        height: 50px
        margin-right: 10px
    &__text
        text-transform: uppercase

.st-form
    &__line
        margin-bottom: 20px
        &:last-child
            margin-bottom: 0

.st-input
    width: 100%
    height: 50px
    padding: 0 15px
    font-size: 15px
    font-family: $ff-fs
    color: #492e16
    border: 2px solid #492e16
    border-radius: 10px
    +phc(#492e16)

.st-textarea
    width: 100%
    height: 150px
    padding: 15px
    font-size: 15px
    font-family: $ff-fs
    color: #492e16
    border: 2px solid #492e16
    border-radius: 10px
    resize: none
    +phc(#492e16)

.contacts-item
    display: flex
    align-items: center
    text-decoration: none
    color: $st-brown
    font-size: 18px
    font-family: $ff-fsc
    &__icon
        width: 55px
        height: 55px
        margin-right: 15px
        &.h40
            height: 40px
    &_phone
        font-size: 26px
        pointer-events: none
    &:hover
        text-decoration: underline
.soc
    display: flex
    align-items: center
    justify-content: center
    &__link
        margin: 7px
    &__icon
        width: 50px
        height: 50px
        transition: all 0.5s ease 0s
        border-radius: 50%
        overflow: hidden


.contacts-section
    display: flex
    justify-content: space-between
    font-size: 17px
    color: $st-brown
    line-height: 2em
    &__section
        width: 240px
    &__title
        font-weight: 700
    &__link
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        color: $st-brown
        text-decoration: underline
        &:hover
            text-decoration: none
        &.ml0
            margin-left: 0
    &__phone
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        color: $st-brown
        text-decoration: none
        font-size: 20px
        pointer-events: none


.hours-item
    padding: 10px 20px 25px
    background-color: #fff
    border: 1px solid #c8b5a5
    font-family: $ff-fsc
    font-size: 17px
    height: 100%
    &__header
        margin-bottom: 10px
        height: 45px
        font-size: 20px
        color: $st-brown
        text-transform: uppercase
        text-align: center
    &__content
        background-color: $st-gray
        padding: 10px
        text-align: center
        height: calc(100% - 55px)

.price-item
    padding: 10px 20px
    background-color: #fff
    border: 2px solid $st-yellow
    font-family: $ff-fsc
    font-size: 17px
    &__title
        margin-bottom: 10px
        height: 45px
        font-size: 20px
        color: $st-brown
        text-transform: uppercase
        text-align: center
    &__compulsion
        background-color: $st-gray
        padding: 10px
        text-align: center
        margin-bottom: 20px

.st-description
    font-size: 15px
    color: $st-brown
    font-family: $ff-fsc
    & p
        margin-bottom: 12px
        &:last-child
            margin-bottom: 0
    & .strong
        font-weight: 700

.room-item
    border: 2px solid $st-yellow
    font-family: $ff-fsc
    background-color: #fff
    color: $st-brown
    &__header
        height: 70px
        padding: 10px 15px
        text-transform: uppercase
        font-size: 20px
        font-family: $ff-fsc
        color: $st-brown
        text-align: center
        border-bottom: 4px solid #e4cb87
    &__main
        padding: 15px
    &__descr
        margin-bottom: 20px
    &__price
        font-size: 20px
        font-weight: 700
        text-transform: uppercase
        text-align: center

.room-preview
    padding-top: 66%
    overflow: hidden
    position: relative
    cursor: pointer
    background-color: #000
    &__image
        object-fit: cover
        width: 100%
        height: 100%
        transition: all 0.5s ease 0s
        position: absolute
        left: 0
        top: 0
        z-index: 20
    &__loupe
        width: 66px
        height: 66px
        z-index: 50
        position: absolute
        left: 50%
        top: 50%
        margin-left: -33px
        margin-top: -33px
        opacity: 0
        transition: all 0.5s ease 0s
    &__seats
        position: absolute
        width: 100%
        display: flex
        justify-content: flex-end
        padding: 5px
        bottom: 0
        left: 0
        z-index: 50
    &_black-border
        border: 1px solid #000
    &:hover
        .room-preview__image
            opacity: 0.5
        .room-preview__loupe
            opacity: 1


.room-seats
    display: flex
    &__item
        width: 16px
        height: 22px
        margin: 0 2px

.reservation-section
    background-image: url('../images/reservation-section-bg.jpg')
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    padding: 15px 0 20px
    &__title
        text-align: center
        margin-bottom: 20px

.gallery
    &__nav
        margin-bottom: 35px
    &__main
        margin-bottom: 35px
    &__pagination
        display: flex
        justify-content: center

.gallery-item
    padding-top: 66%
    width: 100%
    border: 1px solid #c8b5a5
    overflow: hidden
    display: block
    background-color: #000
    position: relative
    &__image
        object-fit: cover
        width: 100%
        height: 100%
        transition: all 0.5s ease 0s
        position: absolute
        left: 0
        top: 0
        z-index: 20
    &_shadow-border
        border: none
        box-shadow: 0 0 15px 5px #fff
    &_black-border
        border: 1px solid #000
    &_restaurant
        border: none
    &:hover
        .gallery-item__image
            opacity: 0.5

.st-pagination
    display: flex
    align-items: center
    &__left, &__right
        width: 30px
        height: 30px
        position: relative
        display: flex
        justify-content: center
        align-items: center
        &:before
            content: ''
            width: 18px
            height: 18px
            border-left: 2px solid #e07157
            border-top: 2px solid #e07157
            transform: rotate(-45deg)
            margin-left: 2px
    &__right
        &:before
            transform: rotate(135deg)
            margin-left: -2px
    &__link
        margin: 4px
        border-radius: 5px
        border: 1px solid #c8b5a5
        color: #492e16
        font-size: 18px
        width: 38px
        height: 38px
        line-height: 38px
        text-align: center
        text-decoration: none
        font-family: $ff-fsc
        background-color: #f2eeef
        transition: all 0.5s ease 0s
        &:hover
            background-color: #fff
        &.active
            background-color: #c8b5a5

.brown-box
    padding: 22px
    background-color: $st-brown
    min-height: 350px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &__preview, &__content
        width: 48%
    &__preview
        overflow: hidden
        font-size: 0
        line-height: 0
    &__image
        object-fit: cover
        width: 100%
        height: 100%


.reservation-form
    display: flex
    justify-content: space-between
    align-items: flex-end
    &__item
        width: 35%
        &:last-child
            width: 22%

.reservation-form
    &__item-title
        text-transform: uppercase
        margin-bottom: 7px
        font-weight: 700

.date-input-box
    border: 3px solid $dark-brown
    border-radius: 10px
    width: 100%
    height: 50px
    position: relative
    background: rgba(255,255,255,0.5)
    &:after
        content: ''
        +arr(13,8,#de6245,b)
        position: absolute
        right: 10px
        top: 50%
        margin-top: -4px
    &__input
        position: absolute
        z-index: 10
        width: 100%
        height: 100%
        left: 0
        background: transparent
        cursor: pointer
        font-size: 16px
        font-weight: 700
        padding-left: 40px
        border: none
        outline: none
    &__icon
        width: 24px
        height: 26px
        position: absolute
        left: 7px
        top: 50%
        margin-top: -12px

.ui-state-disabled
    cursor: default !important
    pointer-events: none

.ui-datepicker
    background: #f5f2ec
    padding: 15px
    color: $dark-brown
    border-radius: 10px
    z-index: 500 !important
    border: 3px solid $dark-brown
    margin-left: -3px
    display: none

.ui-datepicker-group
    float: left
    width: 48%
    margin-right: 2%
    &:last-child
        margin-right: 0

.ui-datepicker-header
    border-bottom: 2px solid $dark-brown
    padding: 0 50px 10px
    line-height: 40px
    text-align: center
    position: relative

.ui-datepicker-calendar
    width: 100%
    td
        text-align: center
        padding: 5px
    th
        font-size: 18px
        padding: 5px

.ui-datepicker-prev, .ui-datepicker-next
    position: absolute
    top: 0
    left: 0
    border-radius: 5px
    border: 1px solid #c8b5a5
    color: #492e16
    font-size: 0
    width: 38px
    height: 38px
    text-align: center
    text-decoration: none
    font-family: $ff-fsc
    background-color: #f2eeef
    transition: all 0.5s ease 0s
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    &:before
        content: ''
        width: 16px
        height: 16px
        border-left: 2px solid #e07157
        border-top: 2px solid #e07157
        transform: rotate(-45deg)
        margin-left: 4px
    &:hover
        background-color: #fff

.ui-datepicker-next
    left: auto
    right: 0
    &:before
        transform: rotate(135deg)
        margin-left: -4px

.ui-state-default
    display: inline-block
    border-radius: 5px
    border: 1px solid #c8b5a5
    color: #492e16
    font-size: 18px
    width: 38px
    height: 38px
    line-height: 38px
    text-align: center
    text-decoration: none
    font-family: $ff-fsc
    background-color: #f2eeef
    transition: all 0.5s ease 0s
    display: block
    &:hover
        background-color: #fff
    &.active
        background-color: #c8b5a5

.ui-state-defdfdfd
    display: flex
    align-items: center
    &__left, &__right
        width: 30px
        height: 30px
        position: relative
        display: flex
        justify-content: center
        align-items: center
        &:before
            content: ''
            width: 18px
            height: 18px
            border-left: 2px solid #e07157
            border-top: 2px solid #e07157
            transform: rotate(-45deg)
            margin-left: 2px
    &__right
        &:before
            transform: rotate(135deg)
            margin-left: -2px
    &__link
        margin: 4px
        border-radius: 5px
        border: 1px solid #c8b5a5
        color: #492e16
        font-size: 18px
        width: 38px
        height: 38px
        line-height: 38px
        text-align: center
        text-decoration: none
        font-family: $ff-fsc
        background-color: #f2eeef
        transition: all 0.5s ease 0s
        &:hover
            background-color: #fff
        &.active
            background-color: #c8b5a5

.restaurant-menu
    &__title
        margin-bottom: 35px
    &__menu-grid
        margin-bottom: 55px
    &__subtitle
        margin-bottom: 20px
        text-align: center
        font-size: 20px
        text-transform: uppercase



.header-main__mail
    display: none

@media screen and (max-width: 960px)
    .contacts-section
        font-size: 16px
        flex-wrap: wrap
        &__phone
            pointer-events: auto

    .index-restaurant
        &__bg-item
            width: 50%
            &:last-child
                display: none

    .header-nav-section
        justify-content: center

    .header-nav
        &__link:last-child
            &:after
                content: ''
                position: absolute
                right: 0
                width: 2px
                height: 28px
                top: 50%
                margin-top: -14px
                background-color: #fff
                opacity: 0.5

    .contacts-item
        &_phone
            pointer-events: auto

    .header-main__logo
        border-bottom: 2px solid $st-yellow
        padding-bottom: 10px

    .grid-nav_index
        flex-wrap: wrap
        margin-top: -15px
        .grid-nav__item
            width: 33.33%
            margin-top: 15px
            display: flex
            justify-content: center

    .figured-title
        width: 300px
        height: 58px
        &__text
            line-height: 58px
            font-size: 24px

    .header-info
        &__address
            width: 80%
            min-width: 0
    .page-preview
        padding: 200px 10px 50px
        &__image
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            padding: 0
            background-position: center center
        &__content
            width: auto
            max-width: 450px
            position: relative
            top: 0
            left: 0
            margin: 0 auto


    .header-phone
        pointer-events: auto

    .header-main
        flex-wrap: wrap
        &__logo
            width: 100%
            margin-bottom: 15px

    .logo
        text-align: center
        justify-content: center
        flex-wrap: wrap
        &__link
            margin-bottom: 15px
            margin-right: 0
        &__text
            width: 100%

    .contacts-header
        &__info-left
            width: 55%
            padding-right: 20px
        &__info-right
            width: 45%
    .mobile-menu
        &__nav
            margin-bottom: 10px

    .page
        &__header
            padding-bottom: 0

    .header-nav-section__mail
        display: none

    .header-main__mail
        display: block

    .header-mail
        width: 100%
        background-color: $st-yellow
        padding: 10px

@media screen and (max-width: 767px)
    .contacts-section
        margin-top: -40px
        &__section
            width: 50%
            margin-top: 40px

    .price-item
        padding: 10px

    .room-item__main
        padding: 10px

    .room-item__header
        font-size: 16px

    .st-grid__item.mobile-dn
        display: none

    .bl-frame__descr.fz18
        font-size: 15px

    .ui-datepicker
        padding: 13px

    .ui-datepicker-calendar td
        padding: 2px

    .ui-state-default
        height: 32px
        width: 32px
        line-height: 32px

    .room-popup
        &__content
            flex-wrap: wrap
        &__images
            width: 100%
            margin-bottom: 20px
        &__descr
            width: 100%

    .st-grid
        &__item
            width: 50%

    .main
        &__restaurant-images
            padding: 30px 0

    .contacts__main
        padding: 0
        .container
            padding: 0

    .contacts__map
        position: relative
        height: 400px
        width: 100%

    .contacts__form
        width: 100%

    .reservation-form
        flex-wrap: wrap
        justify-content: space-around
        &__item
            width: 48%
            &:last-child
                width: 30%
                margin-top: 20px

    .main
        &__contacts
            padding: 15px 0 30px
        &__services
            padding: 30px 0

    .services-list
        &__item
            width: 50%

    .section
        &__title.mb80
            margin-bottom: 30px

    .contacts-items
        display: block
        &__elem
            width: 100%
            display: flex
            justify-content: center

    .contacts-header
        &__info
            display: block
        &__info-left
            display: block
            width: 100%
            margin-bottom: 20px
            padding: 0
        &__info-right
            display: block

    .previews-grid__item
        width: 50%

@media screen and (max-width: 640px)
    .contacts-section__section
        width: 100%

    .index-restaurant
        &__bg-item
            width: 100%
            display: none
            &:first-child
                display: block


    .header-main__mail
        display: none

    .header__nav-section
        display: none

    .header-main__hamburger
        display: block

    .header-nav
        flex-wrap: wrap
        border-top: 1px solid $dark-brown
        &__link
            width: 100%
            border-bottom: 1px solid $dark-brown
            color: $dark-brown
            &:before
                display: none

    .index-gallery__header
        margin: 0 auto 50px

    .footer-more-info
        flex-wrap: wrap
        &__copy
            width: 100%
            margin-bottom: 10px
            text-align: center

    .restaurant-menu
        &__hours
            width: 300px
            margin: 0 auto

    .brown-box
        &__content
            width: 100%
        &__preview
            width: 100%
            margin-bottom: 20px

    .grid-nav_index
        .grid-nav__item
            width: 50%

    .previews-grid
        &__item
            width: 50%

    .services-list
        &__item
            padding: 40px 10px 0

    .services-item
        &__preview
            width: 120px
            height: 120px
        &__icon
            width: 50px
            height: 50px

    .reservation-form
        width: 300px
        margin: 0 auto
        &__item
            width: 100%
            margin-top: 0
            margin-bottom: 10px
            &:last-child
                width: 100%
                margin-bottom: 0
                margin-top: 0

@media screen and (max-width: 440px)
    .slider__nav
        padding: 0

    .slider__nav-item
        width: 100%
        padding: 0
        margin-bottom: 10px

    .slider__main
        display: none

    .st-grid__item
        width: 100%

    .contacts-header__info
        font-size: 13px

    .st-grid_restaurant .st-grid__item
        width: 100%

    .previews-grid__item
        width: 100%