include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Фотогалерея')
        include pug/styles.pug
    body
        include pug/svg.pug
        .page

            header.page__header
                include pug/components/header.pug

            main.page__main.main
                div.section.main__gallery
                    .container
                        .section__breadcrumbs
                            include  pug/components/breadcrumbs.pug
                        .section__title
                            .st-title
                                +svg('mountains').st-title__icon
                                h2.st-title__text Фотогалерея
                        .section__content
                            .gallery
                                .gallery__nav
                                    .grid-nav.grid-nav_gallery
                                        .grid-nav__item
                                            a(href="#").box-nav-item.active ВСЕ ФОТО
                                        .grid-nav__item
                                            a(href="#").box-nav-item Курорт Алеч
                                        .grid-nav__item
                                            a(href="#").box-nav-item Курорт Алеч
                                        .grid-nav__item
                                            a(href="#").box-nav-item Ледник
                                        .grid-nav__item
                                            a(href="#").box-nav-item Заповедник Кре-дю-Ван
                                .gallery__main
                                    .st-grid.js-gallery
                                        -for (var i = 0; i < 3; i++)
                                            .st-grid__item(data-src='./images/small-gallery/gallery-img1.jpg')
                                                a(href='').gallery-item
                                                    img(alt='' src='./images/small-gallery/gallery-img2.jpg').gallery-item__image
                                            .st-grid__item(data-src='./images/small-gallery/gallery-img2.jpg')
                                                a(href='').gallery-item
                                                    img(alt='' src='./images/small-gallery/gallery-img2.jpg').gallery-item__image
                                            .st-grid__item(data-src='./images/small-gallery/gallery-img3.jpg')
                                                a(href='').gallery-item
                                                    img(alt='' src='./images/small-gallery/gallery-img3.jpg').gallery-item__image
                                .gallery__pagination
                                    nav.st-pagination
                                        a(href='#').st-pagination__left
                                        a(href='#').st-pagination__link 1
                                        a(href='#').st-pagination__link.active 2
                                        a(href='#').st-pagination__link 3
                                        a(href='#').st-pagination__link 4
                                        a(href='#').st-pagination__link 5
                                        a(href='#').st-pagination__right

                include pug/components/reservation.pug
            include pug/components/footer.pug







        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALtBZ1rYSgg4RhYBED2irnrMw8ksviHI4&callback=initMap")
        script(src="js/map.js")
        include pug/scripts.pug
