include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Главная')
        include pug/styles.pug
    body
        include pug/svg.pug
        .page

            header.page__header
                include pug/components/header.pug

            main.main.page__main
                section.page-preview
                    .page-preview__image(style="background-image:url(./images/index-preview.jpg)")
                    .page-preview__content
                        .bl-frame
                            .bl-frame__header
                                +svg('mountains-brown').bl-frame__mountains
                            .bl-frame__content
                                .bl-frame__descr Отель Фишерхоф***, построенный в 1979 году в традиционном стиле альпийского швейцарского шале, очаровывает гармоничным сочетанием комфорта и бережно сохраненных традиций.

                include pug/components/reservation.pug

                section.main__services
                    .container
                        .services-list

                            -
                                var servicesList = [
                                {icon: 'wi-fi' ,name: "Бесплатный Wi-Fi"},
                                {icon: 'parking' ,name: "Бесплатная парковка"},
                                {icon: 'transfer' ,name: "Трансфер"},
                                {icon: 'sauna' ,name: "Сауна"},
                                {icon: 'fitness' ,name: "Фитнес-room"},
                                {icon: 'pets' ,name: "Размещение с домашними питомцами"},
                                {icon: 'concert-hall' ,name: "КОНФЕРЕНЦ ЗАЛ"},
                                {icon: 'restaurant' ,name: "Ресторан"}
                                ]

                            each item in servicesList
                                .services-list__item
                                    .services-item
                                        .services-item__preview
                                            +svg(item.icon).services-item__icon
                                        .services-item__text= item.name

                section.main__index-rooms
                    .container
                        .number-rooms
                            .number-rooms__title
                                .section-header
                                    .st-title
                                        +svg('mountains').st-title__icon
                                        h2.st-title__text Номерной фонд
                            .number-rooms__nav
                                .grid-nav.grid-nav_index
                                    .grid-nav__item
                                        a(href="#").box-nav-item SGL
                                    .grid-nav__item
                                        a(href="#").box-nav-item DBL (Стандарт)
                                    .grid-nav__item
                                        a(href="#").box-nav-item DBL (Бюджет)
                                    .grid-nav__item
                                        a(href="#").box-nav-item DBL (Конфорт)
                                    .grid-nav__item
                                        a(href="#").box-nav-item TPL
                                    .grid-nav__item
                                        a(href="#").box-nav-item QPL
                            .number-rooms__descr
                                .st-text На Ваш выбор просторные стандартные номера для одно, двух, трёх или четырёх человек, а так же номера повышенной комфортности. Во всех номерах есть душ или ванна, туалет, телевизор, радио, фен для волос, беспроводной интернет, в большинстве – балконы с зачаровывающими горными пейзажами. Оформление комнат и отделка деревянными панелями создают атмосферу тепла и уюта.
                            .number-rooms__images
                                .st-grid.js-gallery
                                    .st-grid__item(data-src='./images/small-rooms/room1.jpg')
                                        a(href='').gallery-item.gallery-item_black-border
                                            img(src='./images/small-rooms/room1.jpg').gallery-item__image
                                    .st-grid__item(data-src='./images/small-rooms/room2.jpg')
                                        a(href='').gallery-item.gallery-item_black-border
                                            img(src='./images/small-rooms/room2.jpg').gallery-item__image
                                    .st-grid__item(data-src='./images/small-rooms/room3.jpg')
                                        a(href='').gallery-item.gallery-item_black-border
                                            img(src='./images/small-rooms/room3.jpg').gallery-item__image
                                    .st-grid__item(data-src='./images/small-rooms/room4.jpg')
                                        a(href='').gallery-item.gallery-item_black-border
                                            img(src='./images/small-rooms/room4.jpg').gallery-item__image
                                    .st-grid__item(data-src='./images/small-rooms/room5.jpg')
                                        a(href='').gallery-item.gallery-item_black-border
                                            img(src='./images/small-rooms/room5.jpg').gallery-item__image
                                    .st-grid__item(data-src='./images/small-rooms/room6.jpg')
                                        a(href='').gallery-item.gallery-item_black-border
                                            img(src='./images/small-rooms/room6.jpg').gallery-item__image
                            .number-rooms__buttons
                                a(href="#").st-btn-link Смотреть все номера


                section.index-restaurant
                    .index-restaurant__bg-grid
                        .index-restaurant__bg-item(style="background-image:url(./images/small-restaurant/restaurant-img1.jpg)")
                        .index-restaurant__bg-item(style="background-image:url(./images/small-restaurant/restaurant-img2.jpg)")
                        .index-restaurant__bg-item(style="background-image:url(./images/small-restaurant/restaurant-img3.jpg)")
                    .index-restaurant__content
                        .bl-frame
                            .bl-frame__header
                                +svg('mountains-brown').bl-frame__mountains
                            .bl-frame__content
                                .bl-frame__title Ресторан Фишерхоф
                                .bl-frame__descr Ресторан Фишерхоф очарователен своим местным колоритом. <br/> Ресторан предлагает изысканное разнообразие меню, в которое входят блюда швейцарской и итальянской кухни. Для приготовления блюд используются только самые свежие первоклассные продукты. Вы по достоинству оцените тонкий вкус вин из Швейцарии и Италии!
                                .bl-frame__buttons
                                    a(href="#").st-btn-link Подробнее

                section.main__index-gallery
                    .container
                        .index-gallery
                            .index-gallery__header
                                .index-gallery__title
                                    .st-title
                                        +svg('mountains').st-title__icon
                                        h2.st-title__text Добро пожаловать в отель Hotel Fiescherhof
                                .index-gallery__descr Жизнь украшают яркие и запоминающиеся события и впечатления! Ваш полноценный отдых – это одно из лучших событий в жизни! Мы с радостью позаботимся о том, чтобы Вы насладились всей прелестью здорового, активного и комфортабельного отдыха в Швейцарии в удивительном местечке Фиш на горнолыжном курорте Алеч!
                            .index-gallery__images
                                .st-grid.js-gallery
                                    .st-grid__item(data-src='./images/small-gallery/gallery-img1.jpg')
                                        a(href='').gallery-item.gallery-item_shadow-border
                                            img(src='./images/small-gallery/gallery-img1.jpg').gallery-item__image
                                    .st-grid__item(data-src='./images/small-gallery/gallery-img2.jpg')
                                        a(href='').gallery-item.gallery-item_shadow-border
                                            img(src='./images/small-gallery/gallery-img2.jpg').gallery-item__image
                                    .st-grid__item(data-src='./images/small-gallery/gallery-img3.jpg')
                                        a(href='').gallery-item.gallery-item_shadow-border
                                            img(src='./images/small-gallery/gallery-img3.jpg').gallery-item__image
                            .index-gallery__buttons
                                a(href="#").st-btn-link Фотогалерея

            include pug/components/footer.pug


        script(src="js/map.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALtBZ1rYSgg4RhYBED2irnrMw8ksviHI4&callback=initMap")
        include pug/scripts.pug
