include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Продукция')
        include pug/styles.pug
    body
        .site-wrapper
            header.site-wrapper__header
                include pug/components/header
            main.site-wrapper__main
                section.section.section_product
                    .container
                        .section-product
                            .section-product__preview
                                img(src="./images/photos/product-img1.png").section-product__img
                            .section-product__content
                                h1.section-product__title РАЗБОРНЫЕ ТЕПЛООБМЕННИКИ FUNKE
                                .section-product__list-bl.info-list-bl
                                    ul.info-list-bl__info.info-list
                                        li.info-list__item
                                            img(src='./images/svg/icon-red-arrow.svg').info-list__item-icon
                                            .info-list__item-content  Пластинчатые теплообменники Кельвион являются экономичными благодаря своей высокой эффективности, небольшой стоимости, малым габаритам и простоте обслуживания.


                section.section.section_blue-bg
                    .container
                        .infographic-horizontally
                            .infographic-horizontally__item
                                img(src='./images/svg/icon-car.svg').infographic-horizontally__item-icon
                                .infographic-horizontally__item-text Теплообменники Funke с бесплатной доставкой <br/> по России и СНГ
                            .infographic-horizontally__item
                                img(src='./images/svg/icon-standard.svg').infographic-horizontally__item-icon
                                .infographic-horizontally__item-text Все оборудование Funke отвечает <br/> международным и Российским <br/> требованиям и стандартам
                section.section.section_product-adv
                    .container
                        .section__content
                            .infographic-vertically
                                .infographic-vertically__item
                                    .infographic-vertically__item-preview
                                        img(src='./images/svg/icon-adv5.svg').infographic-vertically__item-img
                                    .infographic-vertically__item-text Собственная <br/> производственная <br/> база
                                .infographic-vertically__item
                                    .infographic-vertically__item-preview
                                        img(src='./images/svg/icon-adv6.svg').infographic-vertically__item-img
                                    .infographic-vertically__item-text Гарантия цены <br/> от производителя
                                .infographic-vertically__item
                                    .infographic-vertically__item-preview
                                        img(src='./images/svg/icon-adv7.svg').infographic-vertically__item-img
                                    .infographic-vertically__item-text Помощь в выборе <br/> теплообменных <br/> аппаратов


                section.section.section_scheme
                    .container
                        .section__title.section-title
                            .section-title__text Конструкция разборного <br/> пластинчатого теплообменника
                            img(src='./images/svg/icon-double-arrows.svg').section-title__icon
                        .section__content.section-scheme
                            img(src='./images/photos/scheme1.jpg').section-scheme__image
                            .section-scheme__list
                                ul.scheme-list
                                    li.scheme-list__item Основная плита
                                    li.scheme-list__item Прижимная плита
                                    li.scheme-list__item Опора
                                    li.scheme-list__item Верхняя направляющая
                                    li.scheme-list__item Нижняя направляющая
                                    li.scheme-list__item Стяжные шпильки и гайки
                                    li.scheme-list__item Крепежные болты
                                    li.scheme-list__item Резиновые втулки/металлические втулки
                                    li.scheme-list__item Уплотнения
                                    li.scheme-list__item Теплообменные пластины
                                    li.scheme-list__item Типовая табличка

                section.section_full-description
                    .container
                        .product-full-desctiption
                            .product-full-desctiption__section
                                .table
                                    .table__header.table-header
                                        .table-header__title Основные технические характеристики:
                                        .table-header__plus
                                    .table__content.table-vertically
                                        .table-vertically__row
                                            .table-vertically__td Толщина пластины:
                                            .table-vertically__td 0.35 - 0.7 мм
                                        .table-vertically__row
                                            .table-vertically__td Крепление уплотнений
                                            .table-vertically__td Механическое крепление уплотнений (стандарт) Клеевое крепление уплотнений

                            .product-full-desctiption__section
                                .table
                                    .table__header.table-header
                                        .table-header__title Материалы:
                                        .table-header__plus
                                    .table__content.table-horizontally
                                        .table-horizontally__row
                                            .table-horizontally__td.table-horizontally__td_title Пластины:
                                            .table-horizontally__td.table-description
                                                p
                                                    strong 1.4301/AISI 304
                                                    |  – для более экономичного решения при использовании некритичных сред
                                                p
                                                    strong 1.4539/AISI 904 L
                                                    |  – сталь с высоким содержанием никеля. Экономичное решение для использования сред с низким содержанием кислот и хлоридов, обеспечивающее надежную защиту от коррозионного растрескивания
                                                p
                                                    strong 1.4529/254 SMO
                                                    |  – по сравнению с 1.4401/AISI 316 материал более устойчив к кислотам и хлоридам
                                                p хастеллой – отличается высокой устойчивостью к кислотам и хлоридам; применяется, например, при использовании концентрированной серной кислоты
                                                p титан-палладий – самый высококачественный материал; используется для хлоридов при высокой температуре
                                        .table-horizontally__row
                                            .table-horizontally__td.table-horizontally__td_title Уплотнения
                                            .table-horizontally__td.table-description
                                                p
                                                    strong NBR (нитрил-каучук)
                                                    |  – универсальное уплотнение для водных и жирных сред (вода/масло), не применяется для пара. Диапазон рабочих температур от -20°С до +140°С.
                                                p
                                                    strong EPDM (этилен-пропилен-каучук)
                                                    |  – широкая область применения, для химических соединений, не содержащих жир и минеральные масла. Диапазон рабочих температур от -30°С до +160°С.
                                                p
                                                    strong VITON (фтор-каучук)
                                                    |  – высокая устойчивость к химикалиям, органическим растворяющим веществам, а также серной кислоте и растительным маслам при высоких температурах. Диапазон рабочих температур от -10°С до +180°С.
                            .product-full-desctiption__section
                                .product
                                    .product__title.section-title
                                        .section-title__text Широкий типоразмерный ряд
                                        img(src='./images/svg/icon-double-arrows.svg').section-title__icon
                                    .product__descr Теплообменные пластины FUNKE отличаются оптимальным с термодинамической и гидравлической точек зрения рельефом, что позволяет создавать компактные и недорогие решения.
                                    img(src='./images/photos/product-image1.jpg').product__image

                section.section.section_product-certificate
                    .container
                        .index-certificate-bl
                            .index-certificate-bl__content
                                a(href='#').download-button
                                    img(src='./images/svg/icon-download.svg').download-button__icon
                                    .download-button__text Скачать каталог разборных теплообменника Funke
                            .index-certificate-bl__images
                                img(src='./images/photos/certificate1.jpg').index-certificate-bl__image
                                img(src='./images/photos/certificate2.jpg').index-certificate-bl__image

                section.section.section_calculation
                    .container
                        .section__title.section-title
                            .section-title__text Расчет теплообменика
                            img(src='./images/svg/icon-double-arrows.svg').section-title__icon
                        .section__content.calculation-heatexchanger
                            .calculation-heatexchanger__section.warning-list
                                .warning-list__item.warning-item
                                    img(src='./images/svg/icon-i.svg').warning-item__icon
                                    .warning-item__content Пластинчатые теплообменники рассчитываются индивидуально!
                                .warning-list__item.warning-item
                                    img(src='./images/svg/icon-i.svg').warning-item__icon
                                    .warning-item__content Важно чтобы расчет осуществлялся професионалами с опытом подбора теплообмеников.
                            .calculation-heatexchanger__section
                                .info-list-bl
                                    .info-list-bl__header
                                        a(href='#').download-button
                                            img(src='./images/svg/icon-download.svg').download-button__icon
                                            .download-button__text Опросный лист для расчета теплообменника Funke
                                    ul.info-list-bl__info.info-list
                                        li.info-list__item
                                            img(src='./images/svg/icon-red-arrow.svg').info-list__item-icon
                                            .info-list__item-content Скачайте опросный лист, заполните описав свою потребность и направьте его в на E-mail:
                                            a(href="#").blue-link  info@funke.ru
                                        li.info-list__item
                                            img(src='./images/svg/icon-red-arrow.svg').info-list__item-icon
                                            .info-list__item-content Позвоните нам, или закажите
                                                | консультацию по телефону.

                                        li.info-list__item
                                            img(src='./images/svg/icon-red-arrow.svg').info-list__item-icon
                                            .info-list__item-content В рабочее время с Вами свяжется инженер компании для уточнения деталей и произведет подбор оборудования.


            include pug/components/footer






        include pug/scripts.pug
