include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Номерной фонд')
        include pug/styles.pug
    body
        include pug/svg.pug
        .page

            header.page__header
                include pug/components/header.pug

            main.main.page__main
                div.main__rooms.section
                    .container
                        .section__breadcrumbs
                            include  pug/components/breadcrumbs.pug
                        .section__title
                            .st-title
                                +svg('mountains').st-title__icon
                                h2.st-title__text Номерной фонд
                        .section__content
                            .number-rooms
                                .number-rooms__nav
                                    .grid-nav.grid-nav_index
                                        .grid-nav__item
                                            a(href="#").box-nav-item SGL
                                        .grid-nav__item
                                            a(href="#").box-nav-item DBL (Стандарт)
                                        .grid-nav__item
                                            a(href="#").box-nav-item DBL (Бюджет)
                                        .grid-nav__item
                                            a(href="#").box-nav-item DBL (Конфорт)
                                        .grid-nav__item
                                            a(href="#").box-nav-item TPL
                                        .grid-nav__item
                                            a(href="#").box-nav-item QPL
                                .number-rooms__descr
                                    .st-text На Ваш выбор просторные стандартные номера для одно, двух, трёх или четырёх человек, а так же номера повышенной комфортности. Во всех номерах есть душ или ванна, туалет, телевизор, радио, фен для волос, беспроводной интернет, в большинстве – балконы с зачаровывающими горными пейзажами. Оформление комнат и отделка деревянными панелями создают атмосферу тепла и уюта.
                                .number-rooms__list-rooms
                                    .st-grid
                                        - for (var x = 0; x < 6; x++)
                                            .st-grid__item
                                                .room-item
                                                    .room-item__header Улучшенный <br/> Двухместный Номер
                                                    .room-item__preview.room-preview.js-room-item
                                                        +svg('loupe').room-preview__loupe
                                                        img(alt='' src='./images/small-rooms/room5.jpg').room-preview__image
                                                        .room-preview__seats.room-seats
                                                            +svg('human').room-seats__item
                                                            +svg('human').room-seats__item
                                                    .room-item__main
                                                        .room-item__descr.st-description
                                                            p.strong  На Ваш выбор просторные
                                                            p.strong  На Ваш выбор просторные
                                                            p   c 1 двухспальной кроватью или 2 отдельными кроватями 2 халата. Мини Бар, Набор для приготовления чая
                                                        .room-item__price Цена: 59-90 CHF*
                                .number-rooms__subtitle * Цена за 1 номер за 1 ночь в швейцарских франках включая НДС, не включая:
                                .number-rooms__list-price
                                    .st-grid
                                        .st-grid__item
                                            .price-item
                                                .price-item__title Гостевой налог
                                                .price-item__compulsion обязателен
                                                .price-item__descr
                                                    p За взрослого - 2.50  CHF
                                                    p За ребенка - 1.25  CHF
                                                    p За ребёнка до 6 лет - бесплатно
                                        .st-grid__item
                                            .price-item
                                                .price-item__title Гостевой налог
                                                .price-item__compulsion обязателен
                                                .price-item__descr
                                                    p За взрослого - 2.50  CHF
                                                    p За ребенка - 1.25  CHF
                                                    p За ребёнка до 6 лет - бесплатно
                                        .st-grid__item
                                            .price-item
                                                .price-item__title Гостевой налог
                                                .price-item__compulsion обязателен
                                                .price-item__descr
                                                    p За взрослого - 2.50  CHF
                                                    p За ребенка - 1.25  CHF
                                                    p За ребёнка до 6 лет - бесплатно

                div.main__services.services-section
                    .container
                        h2.services-section__title Во всех номерах:
                        .services-list

                            -
                                var servicesList = [
                                {icon: 'cleaning' ,name: "Ежедневная уборка номера"},
                                {icon: 'radio' ,name: "Радио, Будильник"},
                                {icon: 'wi-fi' ,name: "Бесплатный WiFi"},
                                {icon: 'mountain-view' ,name: "Вид на горы"},
                                {icon: 'tv' ,name: "Телевизор"},
                                {icon: 'pets' ,name: "Домашние животные бесплатно"},
                                {icon: 'heating' ,name: "Отопление в зимний сезон"},
                                {icon: 'shower' ,name: "Душ или ванна"}
                                ]

                            each item in servicesList
                                .services-list__item
                                    .services-item
                                        .services-item__preview
                                            +svg(item.icon).services-item__icon
                                        .services-item__text= item.name

                include pug/components/reservation.pug

                div.main__index-gallery
                    .container
                        .index-gallery
                            .index-gallery__header
                                .index-gallery__title
                                    .st-title
                                        +svg('mountains').st-title__icon
                                        h2.st-title__text Добро пожаловать в отель Hotel Fiescherhof
                                .index-gallery__descr Жизнь украшают яркие и запоминающиеся события и впечатления! Ваш полноценный отдых – это одно из лучших событий в жизни! Мы с радостью позаботимся о том, чтобы Вы насладились всей прелестью здорового, активного и комфортабельного отдыха в Швейцарии в удивительном местечке Фиш на горнолыжном курорте Алеч!
                            .index-gallery__images
                                .st-grid.js-gallery
                                    .st-grid__item(data-src='./images/small-gallery/gallery-img1.jpg')
                                        a(href='').gallery-item.gallery-item_shadow-border
                                            img(alt='' src='./images/small-gallery/gallery-img1.jpg').gallery-item__image
                                    .st-grid__item(data-src='./images/small-gallery/gallery-img2.jpg')
                                        a(href='').gallery-item.gallery-item_shadow-border
                                            img(alt='' src='./images/small-gallery/gallery-img2.jpg').gallery-item__image
                                    .st-grid__item(data-src='./images/small-gallery/gallery-img3.jpg').mobile-dn
                                        a(href='').gallery-item.gallery-item_shadow-border
                                            img(alt='' src='./images/small-gallery/gallery-img3.jpg').gallery-item__image
                            .index-gallery__buttons
                                a(href="#").st-btn-link Фотогалерея



            include pug/components/footer.pug
            .page__room-popup.js-room-popup
                .page__room-popup-wrapper
                    .room-popup
                        .room-popup__close.js-room-popup-close
                            .close-btn
                        .room-popup__title Улучшенный Двухместный Номер
                        .room-popup__content
                            .room-popup__images.slider.js-slider
                                .slider__main
                                    img(alt='' src='./images/small-gallery/gallery-img1.jpg').slider__main-image.js-slider-main
                                .slider__nav
                                    .slider__nav-item
                                        .gallery-item.js-slider-nav(data-full-img='./images/small-gallery/gallery-img1.jpg')
                                            img(alt='' src='./images/small-gallery/gallery-img1.jpg').gallery-item__image
                                    .slider__nav-item
                                        .gallery-item.js-slider-nav(data-full-img='./images/small-gallery/gallery-img2.jpg')
                                            img(alt='' src='./images/small-gallery/gallery-img2.jpg').gallery-item__image
                                    .slider__nav-item
                                        .gallery-item.js-slider-nav(data-full-img='./images/small-gallery/gallery-img3.jpg')
                                            img(alt='' src='./images/small-gallery/gallery-img3.jpg').gallery-item__image
                                    .slider__nav-item
                                        .gallery-item.js-slider-nav(data-full-img='./images/small-gallery/gallery-img1.jpg')
                                            img(alt='' src='./images/small-gallery/gallery-img1.jpg').gallery-item__image

                            .room-popup__descr.room-popup-descr
                                .room-popup-descr__section
                                    .st-description
                                        p.strong  На Ваш выбор просторные
                                        p.strong  На Ваш выбор просторные
                                        p   c 1 двухспальной кроватью или 2 отдельными кроватями 2 халата. Мини Бар, Набор для приготовления чая
                                .room-popup-descr__section
                                    .room-popup-descr__price Цена: 59-90 CHF*
                                    .st-description
                                        p.strong  На Ваш выбор просторные
                                        p.strong  На Ваш выбор просторные
                                        p   c 1 двухспальной кроватью или 2 отдельными кроватями 2 халата. Мини Бар, Набор для приготовления чая


        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALtBZ1rYSgg4RhYBED2irnrMw8ksviHI4&callback=initMap")
        script(src="js/map.js")
        include pug/scripts.pug
